.avw-board-header {
  position: absolute;
  z-index: 3500;
  margin-left: 8px;
  margin-top: 12px;
}

.avw-board-header__room-name,
.avw-board-header__download-btn {
  padding: 12px;
  background-color: $avw-background-color;
  color: $avw-font-color;
  border-radius: $avw-border-radius-large;
  margin-bottom: 8px;
}

.avw-board-header__download-btn {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 11px;
  border: none;
}

.material-icons.md-18 {
  font-size: 18px;
}
