.avw-button {
  background-color: inherit;
  color: $avw-font-color;
  display: block;
  text-decoration: none;

  &.open,
  &.active {
    background-color: $avw-background-selected !important;
  }
}
.avw-main-toolbar {
  display: block;
  position: absolute;
  top: 90px;
  background-color: $avw-background-color;
  color: $avw-font-color;
  border-radius: $avw-border-radius-large;
  margin-left: 8px;
  padding: 10px;
  z-index: 3500;
  width: 100px;

  .btn {
    min-width: 80px;
  }
}
.avw-submenu-wrapper {
  display: flex;
}
.avw-submenu {
  border: 1px solid $avw-background-color;
  border-radius: $avw-border-radius-large;
  background-color: $avw-background-color;
  position: absolute;
  color: $avw-font-color;
  left: 105px;
  z-index: 3500;
}
.avw-object-toolbar {
  top: 50px;
  border-color: transparent;
  border-radius: $avw-border-radius-large;
  .avw-button-group {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;

    background-color: $avw-background-color !important;

    .btn,
    .btn-collapse {
      border-radius: $avw-border-radius-small;
    }
    .btn-collapse {
      width: 70px;
    }

    .icon-cross-1 {
      left: 6px;
      top: 2px;
    }
  }
  .dialog {
    right: 80px !important;
  }
}

.avw-dialog {
  height: 50px;
}

// custom spinner styles
.rotate {
  -webkit-animation: rotate 5s normal linear infinite;
  animation: rotate 5s normal linear infinite;
  margin-left: 10px;
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
  25% {
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg);
  }
  50% {
    -webkit-transform: rotate3d(0, 0, 1, 180deg);
    transform: rotate3d(0, 0, 1, 180deg);
  }
  75% {
    -webkit-transform: rotate3d(0, 0, 1, 270deg);
    transform: rotate3d(0, 0, 1, 270deg);
  }
  100% {
    -webkit-transform: rotate3d(0, 0, 1, 360deg);
    transform: rotate3d(0, 0, 1, 360deg);
  }
}
