.avw-button {
  background-color: inherit;
  color: #f7f7ff;
  display: block;
  text-decoration: none;

  &.open,
  &.active {
    background-color: #3c3f43 !important;
  }
}
.avw-main-toolbar {
  display: block;
  position: absolute;
  top: 90px;
  background-color: #2d3034;
  color: #f7f7ff;
  border-radius: 6px;
  margin-left: 8px;
  padding: 12px;
  z-index: 3500;

  .avw-button,
  .avw-button .icon:before {
    width: 70px;
  }
}
.avw-submenu-wrapper {
  display: flex;
}
.avw-submenu {
  border: 1px solid #2d3034;
  border-radius: 6px;
  background-color: #ffffff;
  position: absolute;
  color: #2d3034;
  left: 100px;
  z-index: 3500;
}
.avw-object-toolbar {
  top: 50px;
  border-color: transparent;
  border-radius: 6px;
  .avw-button-group {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #2d3034 !important;
  }
}
