<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8" />
    <title>alfaview - whiteboard</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link href="/images/favicon.png" rel="icon" type="image/x-icon" />
    <link href="/stylesheets/style.css" rel="stylesheet" />

    <script>
      if (typeof module === 'object') {
        window.module = module;
        module = undefined;
      }
    </script>

    <script>
      //window.browser_lang = '< %= locale %>';
      var ENV = {
        webHost: location.host,
        webEndpoint: location.origin,
        apiEndpoint: location.origin,
        websocketsEndpoint: location.origin.replace('https:', 'wss:').replace('http:', 'ws:'),
        environment: '<%= process.env.NODE_ENV %>',
      };
    </script>

    <script>
      if (window.module) module = window.module;
    </script>
  </head>

  <body
    id="main"
    v-bind:class="{'present-mode':present_mode,'modal-open':active_modal}"
    v-on:click="handle_body_click($event)"
  >
    <space></space>
    <script src="/build/js/scripts.js"></script>
    <script src="/build/js/spacedeck.js"></script>
    <script src="/build/js/alfaview-wb.js"></script>
  </body>
</html>
